<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/editProfileAction" method="get" >
    <h3>Регистрация</h3>
    <!--    <span style="color: red" th:text="${UserAlreadyExist}"></span>-->
    <br>
    <table>


        <tr>
            <th>Фамилия</th>
            <th><input type="text" name="surname" th:value="${currentSurname}"></th>
            <th><span style="color:red" th:text="${surname}"></span></th>
        </tr>


        <tr>
            <th>Имя</th>
            <th><input type="text" name="name" th:value="${currentName}"></th>
            <th><span style="color:red" th:text="${name}"></span></th>
        </tr>


        <tr>
            <th>Email</th>
            <th><input type="text" name="email" th:value="${currentEmail}"></th>
            <th><span style="color:red" th:text="${email}"></span></th>
        </tr>

        <tr>
            <th>Телефонный номер</th>
            <th><input type="text" name="telephone_number" th:value="${currentTelephoneNumber}"></th>
            <th><span style="color:red" th:text="${telephone_number}"></span></th>
        </tr>


        <tr>

            <input type="hidden" name="login" placeholder="Логин" th:value="${currentLogin}">
            <th>Новый пароль</th>
            <th><input type="text" name="password" th:value="${currentPassword}"></th>
            <th><span style="color:red" th:text="${password}"></span></th>
        </tr>



    </table>

    <br>
    <br>
    <br>

    <br>
    <label>
        <input type="text" name="realPassword" placeholder="Действующий пароль" th:value="${realPassword}">
    </label>
    <span style="color:red" th:text="${uncorrectedPassword}"></span>
    <br>
    <!--    <input type="password" name="password" placeholder="Пароль">-->
    <!-- <input type="text" name="role" placeholder="ROLE_ADMIN or ROLE_USER?"> -->
    <br>

    <div><input type="submit" value="Изменить данные"/></div>
</form>

<br>
<br>
<a href="/profile">Назад</a>

</body>
</html>