<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <h3>Авторизация</h3>
    <span style="color: red" th:text="${IncorrectData}"></span>
    <br>
    <input type="text" name="username" placeholder="Логин" th:value="${login}"/>
    <input type="password" name="password" placeholder="Пароль" th:value="${password}"/>
    <a href="/registration">Регистрация</a>
    <div><input type="submit" value="Авторизоваться" /></div>
</form>
</body>
</html>